<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Automation using Selenium" guice-stage="DEVELOPMENT" thread-count = "5" parallel = "tests">
<parameter name="Browser" value="Chrome"></parameter>

  <test thread-count="5" name="Amazon Functional Testing" verbose="2" parallel = "classes">
  <parameter name="Category" value ="Books" />
  <parameter name="ItemName" value = "Da Vinci Code"/>
    <classes>
      <class name="com.qa.cgi.testscripts.Amazon_SearchMultipleItems"/>
      <class name="com.qa.cgi.testscripts.Amazon_TestScript"/>
      <class name="com.qa.cgi.testscripts.AmazonDDTDataProviderExcel"/>
      <class name="com.qa.cgi.testscripts.AmazonExtentReportExample"/>
    </classes>
  </test> 
  
 


</suite>
            